# Fichiers générés par Android Studio/IntelliJ
.idea/
*.iml
.idea/*
!.idea/.gitignore
.gradle/
local.properties
build/
*.properties
.externalNativeBuild
.cxx/
*.pb
*.log
*.cache
/captures/
.DS_Store
Thumbs.db
/libs/
*.hprof
*.pyc
*.apk
*.aab
*.dex
*.class
/out/
*.swp
*.swo
*.bak
*.tmp
*.keystore
*.jks